.dropdown {
	display: flex;
	position: absolute;
	top: var(--padding-md);
	right: var(--padding-md);
	flex-direction: column;
	color: var(--color-neutral-600);

	&.open {
		color: var(--color-neutral-800);
	}
}

.dropdownDialog {
	position: sticky;
	opacity: 0;
	animation: close var(--animate-base) forwards;
	margin-top: 8px;
	box-shadow: var(--box-shadow-lg);
	border: none;
	border-radius: var(--border-radius-base);
	background-color: var(--color-neutral-0);
	padding: 4px;
	min-width: var(--min-dropdownWidth);
	&.openDialog {
		opacity: 1;
		animation: open var(--animate-base) forwards;
	}
}

@keyframes open {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes close {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.dropdownHeader {
	display: flex;
	column-gap: var(--gap-xs);
	align-items: center;
	padding: var(--padding-xxs);

	.dropdownTitle {
		font-size: var(--font-size-sm);
	}
}

.dropdownList {
	display: flex;
	row-gap: var(--gap-xxs);
	flex-direction: column;
	padding-top: 4px;
	text-decoration: none;

	.dropdownItem {
		display: flex;
		column-gap: var(--gap-xs);
		cursor: pointer;

		&:is(.selected) button svg:last-of-type {
			opacity: 1;
		}

		& button svg:last-of-type {
			opacity: 0;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--color-neutral-200);
			}
		}
	}
}
