.dropdownItem {
	display: flex;
	column-gap: var(--gap-xs);
	cursor: pointer;

	&:is(.selected) button svg:last-of-type {
		opacity: 1;
	}

	& button svg:last-of-type {
		opacity: 0;
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--color-neutral-200);
		}
	}
}
